<!-- Pictures Section -->
 <!-- <section id="Pictures">
     <div class="container">
       <div class="row">
         <div class="col-lg-12 text-center">
                 <button id="leftButton" onclick='moveLeft()' >&lt;</button>
                 <button id="rightButton" onclick='moveRight()'>&gt;</button>
                 <div id="galleryContainer">
                   <div id="gallery">
                     <img src="img/gallerypics/1.jpg" alt="" />
                     <img src="img/gallerypics/2.jpg" alt="" />
                     <img src="img/gallerypics/3.jpg" alt="" />
                     <img src="img/gallerypics/4.jpg" alt="" />
                     <img src="img/gallerypics/5.jpg" alt="" />
                     <img src="img/gallerypics/6.jpg" alt="" />
                     <img src="img/gallerypics/7.jpg" alt="" />
                   </div>
                 </div>
         </div>
     </div>
     <div class="row">
   <div class="col-lg-8 col-lg-offset-2 text-center">
       <a class="doclink" href="https://ndrtmediacenter.shutterfly.com/#" >More Pictures  </a>  </div>
     </div>
     </div>
 </section>
 <script src="src/view/photos/photos.js"></script> -->
 <!-- Page Content -->
<div class="container">

  <script language="javascript">
      function changeImage() {
        //document.getElementById("clickable").animate({height:"300px"});
        $("clickable").animate({height:"300px"});
      }
  </script>
    <!-- Projects Row -->
    <div id="gallery">
    <div class="row">
        <div class="col-md-3 portfolio-item">
                            <img class="img-responsive" src="img/gallerypics/13.jpg" alt="" id="clickable" onclick="changeImage()">
                     </div>
        <div class="col-md-3 portfolio-item">
                            <img class="img-responsive" src="img/gallerypics/14.jpg" alt="">
                     </div>
        <div class="col-md-3 portfolio-item">
                            <img class="img-responsive" src="img/gallerypics/3.jpg" alt="">
                     </div>
        <div class="col-md-3 portfolio-item">
                            <img class="img-responsive" src="img/gallerypics/4.jpg" alt="">
                     </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-3 portfolio-item">
                            <img class="img-responsive" src="img/gallerypics/5.jpg" alt="">
                     </div>
        <div class="col-md-3 portfolio-item">
                            <img class="img-responsive" src= "img/gallerypics/6.jpg"alt="">
                     </div>
        <div class="col-md-3 portfolio-item">
                            <img class="img-responsive" src="img/gallerypics/7.jpg" alt="">
                     </div>
        <div class="col-md-3 portfolio-item">
                            <img class="img-responsive" src="img/gallerypics/8.jpg"  alt="">
                     </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-3 portfolio-item">
                <img class="img-responsive" src="img/gallerypics/15.jpg" alt="">
        </div>
        <div class="col-md-3 portfolio-item">
                            <img class="img-responsive" src="img/gallerypics/10.jpg" alt="">
                     </div>
        <div class="col-md-3 portfolio-item">
                            <img class="img-responsive" src="img/gallerypics/11.jpg" alt="">
                     </div>
        <div class="col-md-3 portfolio-item">
                            <img class="img-responsive" src="img/gallerypics/12.jpg" alt="">
                     </div>
    </div>
  </div>
    <!-- /.row -->
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <a class="doclink" href="https://ndrtmediacenter.shutterfly.com/#" >More Pictures  </a>  </div>
      </div>
